body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: lightgray;
    overflow: hidden;
    padding: 50px;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin: 0 10px;
  }
  
  .circle:hover {
    transform: scale(1.2);
  }
  
  .circle img,
  .circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .title {
    margin-top: px;
    margin-left: 14px;
  }
  
  .input {
    background-color: darkgray;
    height: 20;
  }

  .ant-modal-content, .ant-modal-header{
    background: transparent !important;
    box-shadow: none !important;
  }
  .ant-modal-close-x{
    background-color: white;
    border-radius: 100%;
    padding: 7px;
  }